<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital Screen - Incoming Patients</title>
</head>
<body>
    <h1>Incoming Rescue Operations</h1>

    <div th:if="${operations.isEmpty()}">
        <p>No current requests</p>
    </div>

    <ul th:if="${!operations.isEmpty()}">
        <li th:each="operation : ${operations}">
            <p>Patient: <span th:text="${operation.patient.name}"></span></p>
            <p>Ambulance: <span th:text="${operation.ambulance.registrationNumber}"></span></p>
            <p>Location: <span th:text="${operation.location}"></span></p>
            <p>Status: <span th:text="${operation.status}"></span></p>
            <hr/>
        </li>
    </ul>
</body>
</html>
